@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Base styles
 */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/**
 * Typography
 */
body {
  background-color: #057dcd;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

blockquote,
li,
p {
  line-height: 1.35;
}

/**
 * Example CSS used on Pura demo page
 */
html body {
  margin: 2rem auto;
  max-width: 71.25rem;
  width: 90%;
}

p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-ulthuanGrey;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4,
h5,
h6 {
  @apply text-lg
}

.heading::after {
  content: "";
  height: 2px;
  top: 50%;
  @apply inline-block;
  @apply bg-ulthuanGrey;
  @apply w-full;
  @apply absolute;
}

.right-content p,
.right-content h2 {
  @apply my-2;
}

.right-content h2 {
  @apply mt-0;
}

.blog-list a h3 {
  @apply border-b-2;
  @apply border-solid;
  @apply border-ulthuanGrey;
}

.blog-list a:hover h3 {
  @apply border-navyBlue;
}

.blog-list h3 {
  @apply mb-2;
}

.blog-post-content h3 {
  @apply mb-8;
}

.blog-post-content p {
  @apply my-4;
}

.blog-post-content ol {
  @apply list-decimal;
  @apply pl-5;
}

.blog-post-content h4 {
  @apply mt-8;
  @apply mb-4;
}

.blog-post-content h3,
.blog-post-content h4 {
  @apply font-bold;
}

a {
  @apply text-ulthuanGrey;
  @apply border-b-2;
  @apply border-solid;
  @apply border-ulthuanGrey;
}

a:hover {
  @apply border-navyBlue;
}

a .icon-hover-inactive,
a:hover .icon-hover-active {
  display: block;
}

a .icon-hover-active,
a:hover .icon-hover-inactive {
  display: none;
}

@media (min-width: 880px) {
  .right-content h3 {
    @apply mt-10;
    @apply mb-6;
  }

  .blog-post-content h3,
  .blog-list h3 {
    @apply mb-2;
  }

  .blog-post-content h3 {
    @apply mt-10;
  }
}
